<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
</head>
<body>
    <form action="/process.form" method="post">
        <p>Name:</p>
        <input type="text" name="name" >
        <p>Breed:</p>
        <input type="text" name="name" >
        <button>Submit</button>
    </form>
    <form action="/process.form" method="post">
        <p>Name:</p>
        <input type="text" name="dojo_location" >
        <p>Breed:</p>
        <input type="text" name="dojo_location" >
        <button>Submit</button>
    </form>
    <form action="/process.form" method="post">
        <p>Name:</p>
        <input type="text" name="favLanguage" >
        <p>Breed:</p>
        <input type="text" name="favLanguage" >
        <button>Submit</button>
    </form>
    <form action="/process.form" method="post">
        <p>Name:</p>
        <input type="text" name="comments" >
        <p>Breed:</p>
        <input type="text" name="comments" >
        <button>Submit</button>
    </form>
</body>
</html>