<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
</head>
<body>
        <div>
            <h1>Howdy {{logged_user.first_name}}!</h1>
            <div>
                <a href="/shows/new">+ Create</a>
                <a href="/my_shows">TV Shows</a>
            </div>
            <h3>All TV Shows</h3>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Network</th>
                        <th>Release Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for show in all_shows %}
                    <tr>
                        <td>{{show.model}}</td>
                        <td>{{show.year}}</td>
                        <td>{{show.seller}}</td>
                        <td>
                            <a href="/shows/{{show.id}}">View</a>
                        {% if session['user_id'] == car.user_id %}
                        | <a href="/shows/{{show.id}}/edit">Edit</a>
                        <a href="/shows/{{show.id}}/delete">Delete</a>
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</body>
</html>