<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars Post</title>
</head>
<body>
    <div>
        <h3>{{car.price}}</h3>
        <p>Model: {{car.model}}</p>
        <p>Make: {{car.make}}</p>
        <p>Year: {{car.year}}</p>
        <p>Description: {{car.description}}</p>
        <a href="/welcome">Purchase</a>
    </div>
</body>
</html>